.searchContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.searchLabel {
  font-size: 19px;
  line-height: 1.33;
  letter-spacing: -0.01em;

  margin-bottom: 5px;
}
.searchSpan {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.thumbInput {
  position: relative;
}
.searchInput {
  padding: 8px 32px 8px 16px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.iconClean {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgb(71, 71, 71);
}
