.searchContainer {
  max-width: 402px;
  width: 100%;
  padding: 30px 0;
}
.searchLabel {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  font-size: 20px;
}
.searchSpan {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
}
.searchInput {
  padding: 8px 16px;
  border-radius: 4px;
}
