.contactItem {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 12px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  /* width: 280px; */
}
.contactName {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 8px;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paragraph {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
}
.contactNumber {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 1;
}
.contactDeleteBtn {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  display: block;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid #0c234b;
}
