.contactsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.contactListItem {
  flex-basis: calc((100%) / 1);
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .contactListItem {
    flex-basis: calc((100% - 10px) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .contactListItem {
    flex-basis: calc((100% - 20px) / 3);
  }
}

@media screen and (min-width: 1440px) {
  .contactListItem {
    flex-basis: calc((100% - 30px) / 4);
  }
}
